*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 40px;
}

h1{
    text-align: center;
    color: aquamarine;
    margin-top: 25px;
}

.counter{
    width: auto;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.text{
    width: auto;
    height: 30px;
}
#display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    height: 250px;
    background-color: aquamarine;
    text-align: center;
}

.button-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 250px;
    height: 250px;
}

button{
    width: 100px;
    height: 100px;
}